# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Rust
target/
Cargo.lock

# Tauri
src-tauri/target/
src-tauri/Cargo.lock

# Presets and config (optional - uncomment if you want to ignore user data)
# config/
# presets/
/.vs/VAC.slnx/FileContentIndex/6c6930f8-00a1-437c-8954-37c836c111e4.vsidx
/.vs/slnx.sqlite
/.vs/slnx.sqlite-journal
/.vs/VAC.slnx/FileContentIndex
*.bin
*.wsuo
*.json
/.vs/VAC/CopilotIndices/18.6.39495.22055
